<!doctype html>
<html>
<style>
  #form { margin: auto; width: 35%;}
  #.result {margin: auto; width: 35%; border: 1px solid #ccc;}
  .container { background-color: #e3e3e3;}
</style>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>-->
  <title>Red Wine Quality Prediction</title>
</head>
<body>
  <div class="container">
    <form class="" action="{{ url_for('main') }}" method="POST">
      <legend class="my-4" ><center><h2><b>Red Wine features:</b></h2></center></legend><br>
          <!--<fieldset>
        <legend>Input values:</legend>-->
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="fixed-acidity">Fixed acidity:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step=0.1 id="fixed-acidity" placeholder="7.4" name="fixed-acidity" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="volatile-acidity">Volatile acidity:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step=0.001 id="volatile-acidity" placeholder="0.7" name="volatile-acidity" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="citric-acid">Citric acid:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step=0.01 id="citric-acid" placeholder="0" name="citric-acid" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="residual-sugar">Residual sugar:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step=0.01 id="residual-sugar" placeholder="1.9" name="residual-sugar" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="chlorides">Chlorides:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step=0.001 id="chlorides" placeholder="0.076" name="chlorides" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="free-sulfur">Free sulfur dioxide:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="free-sulfur" placeholder="11" name="free-sulfur" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="total-sulfur">Total sulfur dioxide:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="total-sulfur" placeholder="34" name="total-sulfur" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="density">Density:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step=0.0001 id="density" placeholder="0.9978" name="density" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="ph">Ph:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step=0.01 id="ph" placeholder="3.51" name="ph" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="sulphates">Sulphates:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step=0.01 id="sulphates" placeholder="0.56" name="sulphates" required>
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="alcohol">Alcohol:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" step=0.1 id="alcohol" placeholder="9.4" name="alcohol" required>
        </div>
      </div>
      <br>
      <div class="row mb-2">
        <input type="submit" class="form-control btn btn-warning">
      </div>

    </form>
    <br>
    <div class="result" align="center">
        {% if result %}
            {% for variable, value in original_input.items() %}
                <b>{{ variable }}</b> : {{ value }}
            {% endfor %}
            <br>
            <br> Predicted number of bikes in use:
               <p style="font-size:50px">{{ result }}</p>
        {% endif %}
    </div>
  </div>
</body>
</html>
